* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --fontPoppins: "Poppins", sans-serif;
  --White: #ffffff;
  --Grey: #e5e5e5;
  --Orange: #fca311;
  --Blue: #14213d;
  --Black: #000000;
}

html {
  scroll-behavior: smooth;
}

.body {
  position: relative;
}

/* ----------------------------------------------------INICIO HEADER-------------------------------------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(252, 163, 17, 0.9);
  padding: 15px;
  position: sticky;
  top: 0;
}

.list-nav {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

.link_nav {
  color: var(--White);
  text-decoration: none;
  font-weight: bold;
}

.link_nav:hover {
  color: var(--Blue);
}

.item_nav_contacto {
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--Blue);
  padding: 8px 20px;
}

.item_nav_contacto:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.link_contacto {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.link_contacto:hover {
  color: var(--Orange);
}

.icon {
  height: 60px;
  width: 60px;
}

@media (max-width: 650px) {
  .header {
    position: static;
  }
}

/*---MOBILE SCREEN (Small size)---*/
@media screen and (max-width: 430px) {
  .icon {
    height: 40px;
    width: 40px;
  }
}

/*---TABLET SCREEN (Medium size)---*/
@media screen and (min-width: 430px) and (max-width: 730px) {
  .icon {
    height: 50px;
    width: 50px;
  }

  .list-nav {
    gap: 20px;
  }

}

/*---LAPTOP SCREEN---*/
@media screen and (min-width: 730px) and (max-width: 930px) {
  .icon {
    height: 55px;
    width: 55px;
  }
}

/* ------------------------INICIO MENU HAMBURGUESA---------------------------------------------------------- */
.btn_menu_hamburguesa {
  background-color: var(--Orange);
  display: none;
  border: none;
  font-size: 1.3rem;
}

.btn_cerrar_menu {
  display: none;
  border: none;
  background-color: var(--Grey);
  font-size: 1.1rem;
}

@media (max-width: 650px) {

  .btn_menu_hamburguesa,
  .btn_cerrar_menu {
    display: block;
  }

  .navbar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: var(--Grey);
    height: calc(100vh + 70px);
    z-index: 100;
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }

  .list-nav {
    flex-direction: column;
  }

  .list-nav .link_nav {
    color: var(--Blue);
  }
}

/*------------------------ INICIO SECCION HOME-------------------------------------------------------------*/
@media (max-width: 550px) {
  .section {
    scroll-margin-top: 0px;
  }
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--White);
  background-color: #14213d;
  height: 100vh;
  border-bottom: 5px solid var(--Grey);
  padding: 30px;
  scroll-margin-top: 90px;
}

.home-fun {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-icon-animated {
  height: 50px;
  width: 50px;
  position: relative;
  animation: astronaut 8s infinite linear;
}

.home-icon-fun {
  height: 50px;
  width: 50px;
}

@keyframes astronaut {
  0% {
    left: 0px;
    top: 0px;
  }

  17% {
    left: 350px;
    top: 0px;
  }

  32% {
    left: 350px;
    top: 250px;
  }

  47% {
    left: 0px;
    top: 250px;
  }

  62% {
    left: -350px;
    top: 250px;
  }

  77% {
    left: -350px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.home-title {
  font-size: 30px;
  font-weight: 900;
  -webkit-text-stroke: 1px var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-image: linear-gradient(45deg,
      var(--Grey),
      yellow,
      var(--Orange),
      red);
  animation: fun-animation 2s infinite alternate;
  margin-top: 8px;
}

@keyframes fun-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.home-title>h3 {
  font-size: 60px;
  font-weight: 900;
}

.crew-container {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.crew-subtitle {
  font-size: 20px;
  font-weight: 700;
}

.crew-list {
  display: flex;
  gap: 25px;
}

.crew-list>li {
  border: solid 1px var(--White);
  border-radius: 50px;
  box-shadow: 5px 3px 7px white;
  font-weight: 600;
  padding: 10px 20px;
  list-style-type: none;
  align-items: center;
}

.crew-list>li:hover {
  box-shadow: none;
}

.crew-list-container>ul>li>a,
.crew-list-container>ul>li>a:focus,
.crew-list-container>ul>li>a:hover,
.crew-list-container>ul>li>a:active,
.crew-list-container>ul>li>a:visited {
  text-decoration: none;
  color: var(--White);
}

/*---MOBILE SCREEN (Small size)---*/
@media screen and (max-width: 350px) {
  .home-icon-fun {
    visibility: hidden;
  }
}

@media screen and (max-width: 430px) {
  .home-title {
    font-size: 22px;
    text-align: center;
  }

  .home-title>h3 {
    font-size: 35px;
  }

  @keyframes astronaut {
    0% {
      left: 0px;
      top: 0px;
    }

    17% {
      left: 150px;
      top: 0px;
    }

    32% {
      left: 150px;
      top: 250px;
    }

    47% {
      left: 0px;
      top: 250px;
    }

    62% {
      left: -150px;
      top: 250px;
    }

    77% {
      left: -150px;
      top: 0px;
    }

    100% {
      left: 0px;
      top: 0px;
    }
  }

  .home-icon-fun {
    height: 40px;
    width: 40px;
  }

  .crew-subtitle {
    font-size: 16px;
    font-weight: 600;
  }

  .crew-list {
    flex-wrap: wrap;
    justify-content: center;
  }

}

/*---TABLET SCREEN (Medium size)---*/
@media screen and (min-width: 430px) and (max-width: 730px) {
  .home-title {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
  }

  .home-title>h3 {
    font-size: 45px;
  }

  .home-icon-fun {
    height: 45px;
    width: 45px;
  }

  .crew-subtitle {
    font-size: 18px;
    font-weight: 700;
  }
}

@media screen and (min-width: 430px) and (max-width: 500px) {
  @keyframes astronaut {
    0% {
      left: 0px;
      top: 0px;
    }

    17% {
      left: 200px;
      top: 0px;
    }

    32% {
      left: 200px;
      top: 250px;
    }

    47% {
      left: 0px;
      top: 250px;
    }

    62% {
      left: -200px;
      top: 250px;
    }

    77% {
      left: -200px;
      top: 0px;
    }

    100% {
      left: 0px;
      top: 0px;
    }
  }

}

@media screen and (min-width: 500px) and (max-width: 730px) {
  @keyframes astronaut {
    0% {
      left: 0px;
      top: 0px;
    }

    17% {
      left: 265px;
      top: 0px;
    }

    32% {
      left: 265px;
      top: 250px;
    }

    47% {
      left: 0px;
      top: 250px;
    }

    62% {
      left: -265px;
      top: 250px;
    }

    77% {
      left: -265px;
      top: 0px;
    }

    100% {
      left: 0px;
      top: 0px;
    }
  }

}

/*---LAPTOP SCREEN---*/
@media screen and (min-width: 730px) and (max-width: 930px) {
  .home-title {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
  }

  .home-title>h3 {
    font-size: 55px;
  }

  @keyframes astronaut {
    0% {
      left: 0px;
      top: 0px;
    }

    17% {
      left: 325px;
      top: 0px;
    }

    32% {
      left: 325px;
      top: 250px;
    }

    47% {
      left: 0px;
      top: 250px;
    }

    62% {
      left: -325px;
      top: 250px;
    }

    77% {
      left: -325px;
      top: 0px;
    }

    100% {
      left: 0px;
      top: 0px;
    }
  }
}


/*------------------------------ INICIO SECCION SECTION----------------------------------------------------------- */
.information {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid var(--Grey);
}

.name {
  font-size: 28px;
  text-align: center;
  margin: 15px;
}

.picture {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
  align-self: center;
}

.description {
  font-size: 18px;
  margin: 40px 15vh 40px 15vh;
}

/*---MOBILE SCREEN (Small size)---*/
@media screen and (max-width: 430px) {
  .name {
    font-size: 24px;
  }

  .picture {
    width: 200px;
    height: 250px;
  }

  .description {
    font-size: 16px;
    margin: 30px 5vh 20px 5vh;
  }
}

/*---TABLET SCREEN (Medium size)---*/
@media screen and (min-width: 430px) and (max-width: 730px) {
  .picture {
    width: 200px;
    height: 250px;
  }

  .description {
    font-size: 16px;
    margin: 30px 8vh 20px 8vh;
  }
}

/*---LAPTOP SCREEN---*/
@media screen and (min-width: 730px) and (max-width: 930px) {
  .description {
    margin: 30px 10vh 30px 10vh;
  }
}

/*------------------------------ INICIO SECCION CONTACTO----------------------------------------------------------- */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Orange);
  padding: 10vh 0px 10vh 0px;
}

.form-container {
  height: 500px;
  width: 900px;
  background-color: var(--White);
}

/*---MOBILE SCREEN (Small size)---*/
@media screen and (max-width: 430px) {
  .form-container {
    height: 400px;
    width: 80%;
  }
}

/*---TABLET SCREEN (Medium size)---*/
@media screen and (min-width: 430px) and (max-width: 730px) {
  .form-container {
    height: 500px;
    width: 80%;
  }
}

/*---LAPTOP SCREEN---*/
@media screen and (min-width: 730px) and (max-width: 930px) {
  .form-container {
    width: 80%;
  }
}

/*------------------------------ INICIO FOOTER----------------------------------------------------------------------- */
footer {
  color: var(--White);
  background-color: var(--Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
  font-weight: bold;
  gap: 20px;
}

.list_footer {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

@media (max-width: 620px) {
  .list_footer {
    display: none;
  }

  .footer {
    gap: 0px;
  }
}

.link_nav_footer {
  color: var(--White);
  text-decoration: none;
}

.link_nav_footer:hover {
  color: var(--Orange);
}

.container_github {
  display: flex;
  gap: 20px;
}

.item_nav_contacto_footer {
  border-radius: 20px;
  box-shadow: 2px 2px 4px black;
  background-color: var(--Orange);
  padding: 8px 20px;
}

.item_nav_contacto_footer:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.link_contacto_footer {
  text-decoration: none;
  font-weight: bold;
  color: var(--Blue);
}

.link_contacto_footer:hover {
  color: var(--White);
}

.container_github .fa-brands {
  margin: 0;
  display: flex;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.container_github .fa-brands:hover {
  background-color: var(--Orange);
  color: var(--Blue);
}

.container_github {
  display: flex;
  align-items: center;
}

.link_github {
  text-decoration: none;
}